.App {
  text-align: center;
}





.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  color: white;
  margin-top: 1px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  display: flex;
  padding: 2px;
}

li {
  flex-basis: 25%;
  align-items: flex-start;
  padding: 5px;
}

#lists {
  display:flex;
  color: black;
  font-size: 0.8rem;
  
}

#playlist {
  background-color: cornsilk;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  flex-basis: 50%;

}
#tracklist {
  background-color: gainsboro;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  flex-basis: 50%;
}

#searchBar {
  margin: 10px;
}

